<h1>Courts#index</h1>
<div class="container">
	<div class="row">
		<% @courts.each do |court| %>
			<div class="col-xs-3 box">
				<%= link_to court.name, court %>
				<%= link_to(image_tag(court.picture_id),court) %> 
				<%= court.water%>
				<%= court.light%>
				<%= court.membership%>
				<%= court.address%>
				<% court.comments.each do |comment| %>
					<div class="comment">
						<%= comment.entry %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
	