<h1>Courts#index</h1>
<div class="container">
	<div class="row">
		<% @courts.each do |court| %>
			<div class="col-xs-3 box">
				<%= link_to court.name, court %>
				<%= link_to(image_tag(court.Picture_id),court) %> 
				<%= court.Water%>
				<%= court.Light%>
				<%= court.Membership%>
				<%= court.Address%>
				<% court.comments.each do |comment| %>
					<div class="comment">
						<%= comment.Entry %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
	